@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

body {
  background: #f0f8ea;
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: #e54b4b;
  color: #ebebd3;
  padding: 1em 0;
  position: relative;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}

.site-nav {
  position: absolute;
  background-color: #d4d4d4;
  top: 100%;
  right: 0%;
  height: 0px;
  overflow: hidden; /* important for hambuger */
}

.site-nav-open{
    height: auto;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-nav li {
  border-bottom: 1px solid #575757;
}
.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #fff;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-bav a:focus {
  background: #e4b363;
}

.site-nav--icon {
    display: inline-block;
    width: 1em;
    font-size: 1.5em;
    margin-right: 1em;
    text-align: right;
    color: rgba(255,255,255, .5);
}
.menu-toggle {
  /* background: #000; */
  padding: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #ebebd3;
  height: 2px;
  width: 1.5em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}
.hamburger::before {
    transform: translateY(-7px);
}
.hamburger::after {
    transform: translateY(4px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-2px) rotate(-90deg);;
}

@media(min-width: 600px){
    .menu-toggle {
        display: none;
    }

    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
    }

    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a{
        padding: 0;
        margin-left: 3em;
    }

    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }

    .site-nav--icon {
        display: none;
    }

}