@import url("./normalize.css");

body{
  background-color: #4e4e4e;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main { grid-area: main; }


header, main, footer {
  background-color: #d4d4d4;
}

nav, aside {
  background-color: #fafafa;
}


